{:asset-path "js/main.out", :output-dir "/home/andy/.boot/cache/tmp/home/andy/Dropbox/Linguistics/New-Ithklang/NILT/nlw/-azz52a/js/main.out", :output-to "/home/andy/.boot/cache/tmp/home/andy/Dropbox/Linguistics/New-Ithklang/NILT/nlw/-azz52a/js/main.js", :main boot.cljs.main2665, :warning-handlers [#object[adzerk.boot_cljs.impl$compile_cljs$handler__785 0x76ff35da "adzerk.boot_cljs.impl$compile_cljs$handler__785@76ff35da"]]}